body {
	 background-image: url("images/retina_wood.png");
	background-repeat: no-repeat;
	background-size: cover; 
	color: white;
	height: 100vh;
}

h1 {
	text-align: center;
	font-family: 'Amatic SC', cursive;
}

h3 {
	font-size: 40px !important;
} 

.info {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
}

.box {
	float: left;
	min-height: 522px;
	min-width: 31%;
	border-style: solid;
	border-color: white;
	margin-right: 10px;
	font-weight: bold;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;	
}

.chat {
	margin-top: 20px;
	font-size: 30px;
	display: inline-block;
	font-family: 'Amatic SC', cursive;	
}

.enterName {
	margin-bottom: 10px;
}

#header{
	background-color: white;
	font-size: 45px;
	font-family: 'Amatic SC', cursive;
}

#messages {
	width: 213%;
	height: 25px;
	font-weight: bold;
	font-size: 40px;
}

#input {
	width: 213%;
	height: 50px;
	margin-bottom: 5px;
}

.bigger {
	width: 85%;
}

#winner {
	margin-top: 180px;
	text-decoration: underline;
}

#welcome {
	font-size: 50px;
}

#turnInfo {
	font-weight: bold;
	font-size: 45px;
}
